[Unit]
Description=Web App
After=network.target

[Service]
ExecStart=/opt/web_app/web_app
Restart=always
User=ubuntu
Group=ubuntu
WorkingDirectory=/opt/web_app

[Install]
WantedBy=multi-user.target
